body {
    display: flex;
    flex-direction: column;
    /* padding-top: 5px; */
    row-gap: 5px;
    min-width: 400px;
}

#input-el {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #4c75e7;
    padding: 0 10px;
    box-sizing: border-box;
}

button {
    border: 2px solid #4c75e7;
    width: 100px;
    padding: 10px;
    color: #4c75e7;
    background: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background: #4c75e7;
    color: white;
    transition: .5s linear;
    cursor: pointer;
}

#delete-btn {
    background: #4c75e7;
    color: white;
}

#delete-btn:hover {
    color: #4c75e7;
    background: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

li {
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #4c75e7;
}

/* .box {
    width: 200px;
    padding: 40px;
    background: #1257a5;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
} */